/*
* LittleLink Button Styles
* https://littlelink.io
* Free to use under the MIT license
* http://www.opensource.org/licenses/mit-license.php
*/

/* Brand Button Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Only include brand-specific button styling here */
.button,button {
  color:var(--button-text,#000000);
  background-color:var(--button-background,transparent);
	border:var(--button-border,none);
	transition:filter 0.2s ease,transform 0.2s ease;
}

/* Global Button Hover Effect
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button:hover,button:hover {
	filter:brightness(90%);
	transform:translateY(-1px);
}

/* Button Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon {
	filter:var(--icon-filter,none);
}

.button-email {
	--button-text:#eeeeee;
	--button-background:#36454f;
}

.button-punctum {
	--button-text:#eeeeee;
	--button-background:#648c74;
}

.button-soundcloud {
	--button-text:#eeeeee;
	--button-background:#e64d00;
}

.button-bandcamp {
	--button-text:#eeeeee;
	--button-background:#146f89;
}
